body{
    background-color: rgb(93, 88, 84);
    color:white
}
.choose{
    background-color: rgb(73, 67, 60);
}
.button-x, .button-o {
    font-size: 40px;
    width: 60px;
    height: 60px; 
    background-color: rgb(64, 57, 51); 
    margin-bottom: 40px;
}
.button-x{
    color:rgb(237, 217, 126);
}
.button-o{
    color:rgb(63, 172, 214);
}
table{
    border-collapse: collapse;
    padding: 4rem;
    width: 600px;
    height: 500px;
    font-size: 24px;
}
td {
    border-top: 1px solid rgb(113, 106, 100);
    border-left: 1px solid rgb(113, 106, 100);
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}
td:first-child {
    border-left: none;
}

tr:first-child td {
    border-top: none;
}
.item {
    font-size: 90px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgb(104, 101, 97);
}

.winner-color{
    color: rgb(69, 111, 83);
}
