.index-container {
    background: rgb(93, 88, 83);
    color: white;
    width: 700px;
    margin-left: 400px;
    margin-top: 100px;
    text-align: center;
    height: 600px;
}

.index-players {
    background-color: rgb(72, 66, 59);
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
}

.input-group {
    margin-left: 30px;
}

button:hover {
    background-color: rgb(93, 88, 83);
}

.iniciar {
    background-color: rgb(72, 66, 59);
    color: rgb(237, 217, 126);
    margin-right: 10px;
    width: 70px;
    height: 80px;
    font-size: 60px;
    margin-top: 20px;
}

.reset {
    background-color: rgb(72, 66, 59);
    color: rgb(64, 170, 213);
    margin-left: 10px;
    width: 70px;
    height: 80px;
    font-size: 60px;
    margin-top: 20px;
}